
body {
    direction: rtl;
    text-align: right;
    font-family: arial;
    list-style: none;
    /* background-color: yellow; */
}

* .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

    * {
    box-sizing: border-box;
    margin: 0 auto;
}
    /*****************    *******/
   /*   html, body {
   height: 100%;   גרם לפתיחת סרגל הזזה עם פתיחת תפריט נפתח
}*/

.topStrip {
    height: 105px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(144,144,144,1), 85%, rgba(177,177,177,1));
    /* border: 5px solid green */
}

.main {
    /* overflow: auto;  גרם לפתיחת סרגל הזזה עם פתיחת תפריט נפתח*/
    width: 900px;
    width: 0 auto;
    padding-bottom: 40px;
    /* background-color: yellow; */
}

.form {
    position: relative;
display: inline-block;
    width: 900px;
}

.form > #topLeft{
    position: relative;
    top: 0;
    float: left;
    line-height: 25px;
    margin: 10px;  
} 

.form::after {
    content: "";
    clear: both;
    display: Raw1le;
}

.form > #topLeft a{
color: white;
font-weight: bold;
font-size: 12px;
}

 #magnIcon {
    position: relative;
    vertical-align: auto;
}

#pazlogo {
    position: relative;
    bottom: -40px;
}

#home_icon {
    position: absolute;
    display: block;
    max-width: 26px;
    left: 30px;
    bottom: 3px;
}

.menu {
    position: relative;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: right;
    color: rgb(114, 53, 3); 
    margin: 0;
    padding: 10px;
    letter-spacing: 15px;
}

menu {
    position: relative;
    background-color: blue;
    display: inline-block;
    max-width: 800px;
    margin-right: 50px;
}

nav {
    font-family: Arial;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    height: 33px;
    position: relative;
    margin: -15px 110px 0 0;
    direction: rtl;
    top: -25px; 
/*
    height: 100%; float: right; position: relative; display: block;
    */
}
    
 nav ul{
    list-style: none;
    padding: 5px;
    margin: 0;
    /* background-image: linear-gradient(to bottom, rgba(144,144,144,1), 85%, rgba(177,177,177,1)); */
}

nav a{
    
    display: block;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    color:white;
    background-color: rgba(144, 144, 144, 05,)
}

nav a:hover{
    font-family: Arial;
    font-size:15px;
    color:#005CA0;
    text-decoration: underline;
    background-color: rgba(144, 144, 144, 05,);
     /*color:blue; */
}

nav ul::after {    
        content: "";
        clear: both;
        display: Raw1le;    
}
nav ul li{  
    position: relative; 
    float:right;
    width: 100px;
    height: 33px;
    line-height: 33px;
    list-style: none;
    /*  */
    margin-right: 1px;
}   /* background-color: background-color: rgba(144, 144, 144, 05,) */

nav ul ul li {  /*****************  drop-d-child  *******/
    position: relative;
    display: none;
    right: 0;
    background-image: linear-gradient(to bottom, rgb(162,162,162), 97%, rgb(255, 255, 255));
 z-index: 10;
    /*****************    *******/
}

nav ul li:hover ul li{
    display: block;
}

    .conteiner900 {
    /* min-height: 100%; גרם לפתיחת סרגל הזזה עם פתיחת תפריט נפתח  */
    
    /* margin-bottom: 40px; */
    width: 900px;
    /* background-color: rgb(184, 247, 11); */
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 30;
    overflow: hidden;
}

/*--------------------- raw 1 home page   -----------------------*/
/*---
#imagecontainer {
position: relative;
width: 900px;
    display: block;
    margin-top: 30;
    overflow: hidden; 
}----*/

.Raw1 {                 /* 125 - 133  */
    position: relative;
    width: 291px;
    height: 355px;
    margin-top: 30px;
    margin-right:9px;
    float: right; 
    }

.Raw1 img {  
    overflow: hidden;
    border-bottom-right-radius: 20px; 
    }
 
.Raw1 .overlay {
        position: absolute;
        right: 0;
        top: 0;
    }
    
.Raw1text {                          /* 127 - 137  146 */
    text-align: right;
    width: 248px;
    height:98px;
    right: 15px;
    overflow: hidden;
    left: 20px;
    bottom: 10px;
    color: white;
    position: absolute;
    line-height: 0.9em;
    background-color: rgba(125, 123, 122,0.9);
    border-bottom-right-radius: 20px;
     
    }

.Raw1text h3{            
    margin:5px;
    font-size: 14px;
    font-weight: bold;
    }

.Raw1text p {
    font-size: 12px;
    margin-top: 4px;
    margin-right:5px;

    }

.Raw1text a {
    float: left;
    font-size: 13px;
    color: white;
    padding-left: 12px;
    margin-bottom:2px;
    background: url(images\images\read_more_white.png) no-repeat left center; 
    }

.Raw1text a:hover {
    color: #005CA0;
    background: url(images\images\read_more_blue.png) no-repeat left center;
    }
    
    
/*--------------------- raw 1 home page   -----------------------*/


/*--------------------- raw 2 home page   -----------------------*/

.Raw2 {          /* 156 wrapper div raw 2 */
    display: block;
    margin: 0 auto;
    position: relative;
    }

.Raw2::after {
        content: "";
        clear: both;
        display: Raw1le;
    }
/* 
.imgFrame {
position: relative; 
display: inline;
right: 0;
top: 0; 
}  */

.Raw2box {           /* 158 - 164  170 */
    width:291px;
    height:216px;
    float:right;
    margin-top:20px;
    overflow:hidden;
    margin-right: 9px;
    position: relative;
     background: url(images\images\small_cube_bg.png);
    }
    
.Raw2box > img{
    border-top-right-radius: 20px;

        /* float: right; */
        /* top: 10px;
        background: url(images\images\small_cube_bg.png); */
    }
    
h2{
    margin-top:20px;
    color:#575757;
    font-size: 14px;
    text-align: right;
    padding-right:20px;
    display:inline-block;
    }

.Raw2box a {
    size: 9px;
    font-size: 13px;
    padding:12px;
    color: #72716d;
    margin-right:180px;
    display:inline-block;
    text-decoration: underline;
    background: url(images\images\read_more_yellow.png) no-repeat left center;
    }

.Raw2box a:hover {
    color: #005CA0;
    background: url(images\images\read_more_blue.png) no-repeat left center;
    }
#outletsbox {
    overflow:hidden;
    background: url(images\images\small_cube_bg.png);
    }
.outlets {
    width:80px;
    float:right;
    }
.outlets a{
    margin-right:20px;
    }
#israelMap img{
    float: left;
    left: 12px;
    margin-top: -5px;
    }
    
/*--------------------- raw 2 home page   -----------------------*/
.footer {
    position: fixed;
    width: 900px;
    height: 40px;
    margin: auto;
    /* background-color: rgb(184, 247, 11); */
    bottom: 0;
    background-image: linear-gradient(to top, rgba(144,144,144,1), 85%, rgba(177,177,177,1));
    }

footer {
    top: 8px;
    margin: auto;
    color: white;
    display: block;
    font-size: 14px;
    max-height: 38px;
    text-align: center;
    position: relative;
    text-decoration: none;
    }

a {
    color: white;
    text-decoration: none;
    }

footer > a:hover{
    color:#005CA0;
    text-decoration: underline;
    }

/********************     תבנית ראשית - טמפלייט לא לערוך    ***********************/